{% load static i18n %}
<!-- section-about -->
{% load static i18n %}
<!-- section-about -->
<div class="section-about tf-spacing-1" style="background-color:#141b1b">
    <div class="tf-container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="text_white-2 split-text effect-blur-fade mb_40" style="font-weight: 400; line-height: 1.3;">
                    We Provide Luxury Transport And The Most Comfortable Experience
                </h3>
            </div>
            <div class="col-lg-6">
                <p class="text_color-1 mb_30" style="font-weight: 400;">
                    Experience luxury travel with our premium selection of meticulously maintained vehicles, tailored to your needs. From seamless airport transfers to bespoke chauffeur-driven journeys, we deliver personalized experiences that make every trip unforgettable.
                </p>
                <div class="d-flex align-items-center gap_20">
                    <div class="icon">
                        <img src="{% static 'images/h1-icon-img-1.2.png' %}" alt="call center" width="45">
                    </div>
                    <div>
                        <a href="tel:+393391069936" class="text_secondary-color-2 text-uppercase fw-6 link qodef-m-subtitle" style="font-weight: 400;letter-spacing: 2px;">
                            Call Center: +39 339 106 9936
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End section-about -->