<div class="banner-2">
    <div class="parallaxie" style="background: url(&quot;../static/images/h1-img-8.webp&quot;) center 47.4539px / cover no-repeat fixed;">
        <div class="content">
            <div class="wrap d-flex flex-column">
            </div>
        </div>
    </div>
</div>
<style>
.banner-2 .parallaxie:nth-of-type(2) {
    background-image: url("../static/images/h1-img-8.webp") !important;
    background-position: center 47.4539px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
</style>