<div class="banner-2">
    <div class="parallaxie" style="background: url('https://prestigecars24.com/static/images/h1-img-5.jpg') center center / cover no-repeat fixed;">
        <div class="tf-container">
            <div class="wrap d-flex align-items-center justify-content-end">
                <div class="text-end" style="max-width: 500px;">
                    <h3 class="text_white mb_30" style="font-family: Epilogue, sans-serif;font-weight: 400; line-height: 1.3;">
                        Do You Require A Car?<br> Get In Touch With Us
                    </h3>
                    <a href="https://wa.me/393391069936" target="_blank" class="qodef-button qodef-html--link qodef-layout--outlined">
                        <span>+ Chat With Us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.banner-2 .parallaxie {
    min-height: 500px;
    display: flex;
    align-items: center;
}
.banner-2 .content {
    width: 100%;
    padding: 60px;
}
.qodef-button.qodef-layout--outlined {
    color: #fff;
    background-color: transparent;
    border: 1px solid #bfa37c;
}
.qodef-button.qodef-layout--outlined:hover {
    color: #fff;
}
.qodef-button.qodef-html--link {
    font-family: Inconsolata, sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: .25em;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: auto;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    outline: 0;
    transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out;
    padding: 17px 47px 17px 50px;
}
/* Mobile */
@media (max-width: 768px) {
    .banner-2 .parallaxie {
        height: 150px;
        min-height: 350px;
    }
    .banner-2 .parallaxie .banner-img {
        object-position: center center;
    }
    #wrapper > div.main-content.tf-spacing-8 > div.main-content > div:nth-child(6) > div > div > div > div > h3 {
        font-size: 30px;
    }
}

</style>