{% load static %}
<div class="section-properties list">
                <div class="tf-spacing-1">
                    <div class="tf-container ">

                        <div class="box-title mb_40">
                            <div>
                                <ul class="breadcrumb style-1 text-button fw-4 mb_4">
                                    <li><a class="" href="index.html">Home</a></li>
                                    <li>With Top Map</li>
                                </ul>
                                <h4>With Top Map</h4>
                            </div>
                            <div class="right d-flex gap_12">
                                <ul class="nav-tab-filter align-items-center group-layout  d-flex gap_12"
                                    role="tablist">
                                    <li class="nav-tab-item" role="presentation">
                                        <a href="#gridLayout" class=" btn-layout grid nav-link-item "
                                            data-bs-toggle="tab">
                                            <i class="icon-SquaresFour"></i>
                                        </a>
                                    </li>
                                    <li class="nav-tab-item" role="presentation">
                                        <a href="#listLayout" class="nav-link-item btn-layout list active"
                                            data-bs-toggle="tab">
                                            <i class="icon-Rows"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="nice-select select-filter list-sort" tabindex="0"><span class="current">Sort
                                        by
                                        (Default)</span>
                                    <ul class="list">
                                        <li data-value="default" class="option selected">Sort by (Default)</li>
                                        <li data-value="new" class="option">Newest</li>
                                        <li data-value="old" class="option">Oldest</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="flat-animate-tab">
                            <div class="tab-content">
                                <div class="tab-pane" id="gridLayout" role="tabpanel">
                                    <div class="tf-grid-layout lg-col-3 md-col-2">
                                        <div class="card-house style-default hover-image" data-id="2">
                                            <div class="img-style mb_20">
                                                <img loading="lazy" decoding="async" src="images/home/home-1.jpg"
                                                    srcset="images/home/home-1.jpg 410w"
                                                    sizes="(max-width: 410px) 100vw, 410px" width="410" height="308"
                                                    alt="home">
                                                <div class="wrap-tag d-flex gap_8 mb_12">
                                                    <div class="tag rent text-button-small fw-6 text_primary-color">
                                                        For Rent
                                                    </div>
                                                    <div
                                                        class="tag categoreis text-button-small fw-6 text_primary-color">
                                                        Apartment
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html" class="overlay-link"></a>
                                                <div class="wishlist">
                                                    <a href="javascript:void(0);"
                                                        class="hover-tooltip tooltip-left box-icon">
                                                        <span class="icon icon-Heart"></span>
                                                        <span class="tooltip">Add to Wishlist</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h4 class="price mb_12">$250,00<span
                                                        class="text_secondary-color text-body-default">/month</span>
                                                </h4>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Villa
                                                    Del Mar Retreat,
                                                    Malibu</a>
                                                <p>72 Sunset Avenue, Los Angeles, California</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>4 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>2 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>2,400 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card-house style-default hover-image" data-id="3">
                                            <div class="img-style mb_20">
                                                <img loading="lazy" decoding="async" src="images/home/home-2.jpg"
                                                    srcset="images/home/home-2.jpg 410w"
                                                    sizes="(max-width: 410px) 100vw, 410px" width="410" height="308"
                                                    alt="home">
                                                <div class="wrap-tag d-flex gap_8 mb_12">
                                                    <div class="tag sale text-button-small fw-6 text_primary-color">
                                                        For Sale
                                                    </div>
                                                    <div
                                                        class="tag categoreis text-button-small fw-6 text_primary-color">
                                                        Villa
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html" class="overlay-link"></a>
                                                <div class="wishlist">
                                                    <a href="javascript:void(0);"
                                                        class="hover-tooltip tooltip-left box-icon">
                                                        <span class="icon icon-Heart"></span>
                                                        <span class="tooltip">Add to Wishlist</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h4 class="price mb_12">$6130,00<span
                                                        class="text_secondary-color text-body-default">/SqFT</span></h4>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Sunset
                                                    Heights Estate</a>
                                                <p>245 Elm Street, San Francisco, CA 94102</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>3 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>2 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>1,600 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card-house style-default hover-image" data-id="4">
                                            <div class="img-style mb_20">
                                                <img loading="lazy" decoding="async" src="images/home/home-3.jpg"
                                                    srcset="images/home/home-3.jpg 410w"
                                                    sizes="(max-width: 410px) 100vw, 410px" width="410" height="308"
                                                    alt="home">
                                                <div class="wrap-tag d-flex gap_8 mb_12">
                                                    <div class="tag rent text-button-small fw-6 text_primary-color">
                                                        For Rent
                                                    </div>
                                                    <div
                                                        class="tag categoreis text-button-small fw-6 text_primary-color">
                                                        Studio
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html" class="overlay-link"></a>
                                                <div class="wishlist">
                                                    <a href="javascript:void(0);"
                                                        class="hover-tooltip tooltip-left box-icon">
                                                        <span class="icon icon-Heart"></span>
                                                        <span class="tooltip">Add to Wishlist</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h4 class="price mb_12">$5280,00<span
                                                        class="text_secondary-color text-body-default">/month</span>
                                                </h4>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Coastal
                                                    Serenity Cottage</a>
                                                <p>918 Maple Avenue, Brooklyn, NY 11215</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>4 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>2 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>2,600 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card-house style-default hover-image" data-id="5">
                                            <div class="img-style mb_20">
                                                <img loading="lazy" decoding="async" src="images/home/home-4.jpg"
                                                    srcset="images/home/home-4.jpg 410w"
                                                    sizes="(max-width: 410px) 100vw, 410px" width="410" height="308"
                                                    alt="home">
                                                <div class="wrap-tag d-flex gap_8 mb_12">
                                                    <div class="tag sale text-button-small fw-6 text_primary-color">
                                                        For Sale
                                                    </div>
                                                    <div
                                                        class="tag categoreis text-button-small fw-6 text_primary-color">
                                                        Villa
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html" class="overlay-link"></a>
                                                <div class="wishlist">
                                                    <a href="javascript:void(0);"
                                                        class="hover-tooltip tooltip-left box-icon">
                                                        <span class="icon icon-Heart"></span>
                                                        <span class="tooltip">Add to Wishlist</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h4 class="price mb_12">$6640,00<span
                                                        class="text_secondary-color text-body-default">/SqFT</span></h4>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Rancho
                                                    Vista Verde</a>
                                                <p>77 Lakeview Court, Orlando, FL 32801</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>4 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>2 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>2,400 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card-house style-default hover-image" data-id="6">
                                            <div class="img-style mb_20">
                                                <img loading="lazy" decoding="async" src="images/home/home-5.jpg"
                                                    srcset="images/home/home-5.jpg 410w"
                                                    sizes="(max-width: 410px) 100vw, 410px" width="410" height="308"
                                                    alt="home">
                                                <div class="wrap-tag d-flex gap_8 mb_12">
                                                    <div class="tag rent text-button-small fw-6 text_primary-color">
                                                        For Rent
                                                    </div>
                                                    <div
                                                        class="tag categoreis text-button-small fw-6 text_primary-color">
                                                        Office
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html" class="overlay-link"></a>
                                                <div class="wishlist">
                                                    <a href="javascript:void(0);"
                                                        class="hover-tooltip tooltip-left box-icon">
                                                        <span class="icon icon-Heart"></span>
                                                        <span class="tooltip">Add to Wishlist</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h4 class="price mb_12">$320,00<span
                                                        class="text_secondary-color text-body-default">/month</span>
                                                </h4>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Villa
                                                    del Mar Retreat</a>
                                                <p>1325 Oakwood Drive, Austin, TX 78703</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>4 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>2 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>1,800 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card-house style-default hover-image" data-id="7">
                                            <div class="img-style mb_20">
                                                <img loading="lazy" decoding="async" src="images/home/home-6.jpg"
                                                    srcset="images/home/home-6.jpg 410w"
                                                    sizes="(max-width: 410px) 100vw, 410px" width="410" height="308"
                                                    alt="home">
                                                <div class="wrap-tag d-flex gap_8 mb_12">
                                                    <div class="tag sale text-button-small fw-6 text_primary-color">
                                                        For Sale
                                                    </div>
                                                    <div
                                                        class="tag categoreis text-button-small fw-6 text_primary-color">
                                                        Townhouse
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html" class="overlay-link"></a>
                                                <div class="wishlist">
                                                    <a href="javascript:void(0);"
                                                        class="hover-tooltip tooltip-left box-icon">
                                                        <span class="icon icon-Heart"></span>
                                                        <span class="tooltip">Add to Wishlist</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h4 class="price mb_12">$5210,00<span
                                                        class="text_secondary-color text-body-default">/SqFT</span></h4>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Casa
                                                    Lomas De Machali</a>
                                                <p>4600 Sunset Blvd, Los Angeles, CA 90027</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>4 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>2 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>2,200 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card-house style-default hover-image" data-id="1">
                                            <div class="img-style mb_20">
                                                <img loading="lazy" decoding="async" src="images/home/home-9.jpg"
                                                    srcset="images/home/home-9.jpg 410w"
                                                    sizes="(max-width: 410px) 100vw, 410px" width="410" height="308"
                                                    alt="home">
                                                <div class="wrap-tag d-flex gap_8 mb_12">
                                                    <div class="tag rent text-button-small fw-6 text_primary-color">
                                                        For Rent
                                                    </div>
                                                    <div
                                                        class="tag categoreis text-button-small fw-6 text_primary-color">
                                                        Apartment
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html" class="overlay-link"></a>
                                                <div class="wishlist">
                                                    <a href="javascript:void(0);"
                                                        class="hover-tooltip tooltip-left box-icon">
                                                        <span class="icon icon-Heart"></span>
                                                        <span class="tooltip">Add to Wishlist</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h4 class="price mb_12">$450,00<span
                                                        class="text_secondary-color text-body-default">/month</span>
                                                </h4>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Palmcrest
                                                    Residences</a>
                                                <p>1422 Sunset Avenue, Los Angeles, CA 90026</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>3 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>3 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>1,200 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card-house style-default hover-image" data-id="8">
                                            <div class="img-style mb_20">
                                                <img loading="lazy" decoding="async" src="images/home/home-10.jpg"
                                                    srcset="images/home/home-10.jpg 410w"
                                                    sizes="(max-width: 410px) 100vw, 410px" width="410" height="308"
                                                    alt="home">
                                                <div class="wrap-tag d-flex gap_8 mb_12">
                                                    <div class="tag rent text-button-small fw-6 text_primary-color">
                                                        For Rent
                                                    </div>
                                                    <div
                                                        class="tag categoreis text-button-small fw-6 text_primary-color">
                                                        Villa
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html" class="overlay-link"></a>
                                                <div class="wishlist">
                                                    <a href="javascript:void(0);"
                                                        class="hover-tooltip tooltip-left box-icon">
                                                        <span class="icon icon-Heart"></span>
                                                        <span class="tooltip">Add to Wishlist</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h4 class="price mb_12">$320,00<span
                                                        class="text_secondary-color text-body-default">/month</span>
                                                </h4>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Cedar
                                                    Hill Estates</a>
                                                <p>3809 Whispering Pines Road, Austin, TX 73301</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>2 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>2 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>3,800 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="card-house style-default hover-image" data-id="9">
                                            <div class="img-style mb_20">
                                                <img loading="lazy" decoding="async" src="images/home/home-8.jpg"
                                                    srcset="images/home/home-8.jpg 410w"
                                                    sizes="(max-width: 410px) 100vw, 410px" width="410" height="308"
                                                    alt="home">
                                                <div class="wrap-tag d-flex gap_8 mb_12">
                                                    <div class="tag sale text-button-small fw-6 text_primary-color">
                                                        For Sale
                                                    </div>
                                                    <div
                                                        class="tag categoreis text-button-small fw-6 text_primary-color">
                                                        House
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html" class="overlay-link"></a>
                                                <div class="wishlist">
                                                    <a href="javascript:void(0);"
                                                        class="hover-tooltip tooltip-left box-icon">
                                                        <span class="icon icon-Heart"></span>
                                                        <span class="tooltip">Add to Wishlist</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h4 class="price mb_12">$5210,00<span
                                                        class="text_secondary-color text-body-default">/SqFT</span></h4>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Oceanview Heights</a>
                                                <p>91 Coastal Breeze Drive, San Diego, CA 92101</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>4 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>2 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>2,200 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active show" id="listLayout" role="tabpanel">
                                    <div class="wrap-list d-grid gap_30">
                                        <div class="card-house style-list v2" data-id="1">
                                            <div class="wrap-img">
                                                <a href="property-details-1.html" class="img-style">
                                                    <img loading="lazy" decoding="async"
                                                        src="images/home/home-list-4.jpg"
                                                        srcset="images/home/home-list-4.jpg 392w"
                                                        sizes="(max-width: 392px) 100vw, 392px" width="392" height="260"
                                                        alt="home">
                                                </a>
                                                <a href="property-details-1.html" class="img-style">
                                                    <img loading="lazy" decoding="async"
                                                        src="images/home/home-list-4.1.jpg"
                                                        srcset="images/home/home-list-4.1.jpg 392w"
                                                        sizes="(max-width: 392px) 100vw, 392px" width="392" height="260"
                                                        alt="home">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <div
                                                    class="d-flex align-items-center gap_6 top mb_16 flex-wrap justify-content-between">
                                                    <h4 class="price ">$580,00<span
                                                            class="text_secondary-color text-body-default">/month</span>
                                                    </h4>
                                                    <div class="wrap-tag d-flex gap_8">
                                                        <div class="tag rent text-button-small fw-6 text_primary-color">
                                                            For Rent
                                                        </div>
                                                        <div
                                                            class="tag categoreis text-button-small fw-6 text_primary-color">
                                                            House
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Casa Lomas de
                                                    Machali</a>
                                                <p>4600 Sunset Blvd, Los Angeles, CA 90027</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>2 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>2 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>1,800 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-house style-list v2" data-id="2">
                                            <div class="wrap-img">
                                                <a href="property-details-1.html" class="img-style">
                                                    <img loading="lazy" decoding="async"
                                                        src="images/home/home-list-5.jpg"
                                                        srcset="images/home/home-list-5.jpg 392w"
                                                        sizes="(max-width: 392px) 100vw, 392px" width="392" height="260"
                                                        alt="home">
                                                </a>
                                                <a href="property-details-1.html" class="img-style">
                                                    <img loading="lazy" decoding="async"
                                                        src="images/home/home-list-5.1.jpg"
                                                        srcset="images/home/home-list-5.1.jpg 392w"
                                                        sizes="(max-width: 392px) 100vw, 392px" width="392" height="260"
                                                        alt="home">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <div
                                                    class="d-flex align-items-center gap_6 top mb_16 flex-wrap justify-content-between">
                                                    <h4 class="price ">$5210,00<span
                                                            class="text_secondary-color text-body-default">/SqFT</span>
                                                    </h4>
                                                    <div class="wrap-tag d-flex gap_8">
                                                        <div class="tag sale text-button-small fw-6 text_primary-color">
                                                            For Sale
                                                        </div>
                                                        <div
                                                            class="tag categoreis text-button-small fw-6 text_primary-color">
                                                            Office
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">The Grand Oak
                                                    Retreat</a>
                                                <p>9301 Forest Hill Dr, Austin, TX 78759</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>3 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>2 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>3,200 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-house style-list v2" data-id="3">
                                            <div class="wrap-img">
                                                <a href="property-details-1.html" class="img-style">
                                                    <img loading="lazy" decoding="async"
                                                        src="images/home/home-list-6.jpg"
                                                        srcset="images/home/home-list-6.jpg 392w"
                                                        sizes="(max-width: 392px) 100vw, 392px" width="392" height="260"
                                                        alt="home">
                                                </a>
                                                <a href="property-details-1.html" class="img-style">
                                                    <img loading="lazy" decoding="async"
                                                        src="images/home/home-list-6.1.jpg"
                                                        srcset="images/home/home-list-6.1.jpg 392w"
                                                        sizes="(max-width: 392px) 100vw, 392px" width="392" height="260"
                                                        alt="home">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <div
                                                    class="d-flex align-items-center gap_6 top mb_16 flex-wrap justify-content-between">
                                                    <h4 class="price ">$320,00<span
                                                            class="text_secondary-color text-body-default">/month</span>
                                                    </h4>
                                                    <div class="wrap-tag d-flex gap_8">
                                                        <div class="tag rent text-button-small fw-6 text_primary-color">
                                                            For Rent
                                                        </div>
                                                        <div
                                                            class="tag categoreis text-button-small fw-6 text_primary-color">
                                                            Office
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Sierra Ridge
                                                    Cottage</a>
                                                <p>1745 Mountain View Rd, Lake Tahoe, CA 96150</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>2 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>3 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>1,500 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-house style-list v2" data-id="4">
                                            <div class="wrap-img">
                                                <a href="property-details-1.html" class="img-style">
                                                    <img loading="lazy" decoding="async"
                                                        src="images/home/home-list-7.jpg"
                                                        srcset="images/home/home-list-7.jpg 392w"
                                                        sizes="(max-width: 392px) 100vw, 392px" width="392" height="260"
                                                        alt="home">
                                                </a>
                                                <a href="property-details-1.html" class="img-style">
                                                    <img loading="lazy" decoding="async"
                                                        src="images/home/home-list-7.1.jpg"
                                                        srcset="images/home/home-list-7.1.jpg 392w"
                                                        sizes="(max-width: 392px) 100vw, 392px" width="392" height="260"
                                                        alt="home">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <div
                                                    class="d-flex align-items-center gap_6 top mb_16 flex-wrap justify-content-between">
                                                    <h4 class="price ">$5210,00<span
                                                            class="text_secondary-color text-body-default">/SqFT</span>
                                                    </h4>
                                                    <div class="wrap-tag d-flex gap_8">
                                                        <div class="tag sale text-button-small fw-6 text_primary-color">
                                                            For Sale
                                                        </div>
                                                        <div
                                                            class="tag categoreis text-button-small fw-6 text_primary-color">
                                                            Villa
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="property-details-1.html"
                                                    class="title mb_8 h5 link text_primary-color">Palmcrest
                                                    Residences</a>
                                                <p>1422 Sunset Avenue, Los Angeles, CA 90026</p>
                                                <ul class="info d-flex">
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>2 Beds
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bathstub"></i>3 Baths
                                                    </li>
                                                    <li
                                                        class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>1,500 Sqft
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <ul class="wg-pagination justify-content-center ">
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li class="active">
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li class="arrow">
                                <a href="#"><i class="icon-CaretRight"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>