{% load static %}
            <!-- seciton-testimonial -->
            <div class="section-testimonials">
                <div class="tf-container text_white qodef-m-title mb_40">
                    <h3>We strive to meet the needs of our clients, and we value their opinions about our work.</h3>
                </div>
                <div class="tf-container sw-layout">
                    <div class="swiper" data-preview="2" data-tablet="2" data-mobile="1" data-mobile-sm="2"
                        data-space-lg="30" data-space-md="24" data-space="15">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <ul class="ratings d-flex mb_12">
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                    </ul>
                                    <p class="text_primary-color text-body-1 mb_23">“This platform made property
                                        investing
                                        so much
                                        easier. I found two great rentals in just a few months, and both are already
                                        performing better than expected.”</p>
                                    <div class="author d-flex gap_12 align-items-center">
                                        
                                        <div class="info">
                                            <a href="#" class="h6 text_primary-color name link mb_4">Liam Anderson</a>
                                            <p>CEO Digital Avitex</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <ul class="ratings d-flex mb_12">
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                    </ul>
                                    <p class="text_primary-color text-body-1 mb_23">“As a first-time buyer, I felt
                                        guided every step of the way. Found my dream home fast and the support team was
                                        always there to answer my questions.” </p>
                                    <div class="author d-flex gap_12 align-items-center">
                                        
                                        <div class="info">
                                            <a href="#" class="h6 text_primary-color name link mb_4">Adam Will</a>
                                            <p>CEO Agency Avitex</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <ul class="ratings d-flex mb_12">
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                    </ul>
                                    <p class="text_primary-color text-body-1 mb_23">"My experience with property
                                        management services has exceeded expectations. They efficiently manage
                                        properties with a professional and attentive approach in every situation.</p>
                                    <div class="author d-flex gap_12 align-items-center">
                                        
                                        <div class="info">
                                            <a href="#" class="h6 text_primary-color name link mb_4">Emily Robertson</a>
                                            <p>CEO Digital Avitex</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <ul class="ratings d-flex mb_12">
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                        <li><i class="icon-favorite_major"></i></li>
                                    </ul>
                                    <p class="text_primary-color text-body-1 mb_23">“Professional, reliable, and
                                        efficient. They guided me through every step and made the entire process
                                        stress-free.”</p>
                                    <div class="author d-flex gap_12 align-items-center">
                                        
                                        <div class="info">
                                            <a href="#" class="h6 text_primary-color name link mb_4">James Thompson</a>
                                            <p>CEO Digital Avitex</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sw-dots style-1 sw-pagination-layout justify-content-center d-flex mt_24">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End seciton-testimonial -->