{% load static %}
<!-- section-about -->
<div class="section-about tf-spacing-1">
    <div class="tf-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <div class="heading-section mb_32">
                        <span class="sub text-uppercase fw-6 split-text effect-rotate">About Us</span>
                        <h3 class="split-text effect-blur-fade">Your Trusted Real Estate Partner</h3>
                    </div>
                    <ul class="list-info">
                        <li class="d-flex gap_20 scrolling-effect effectRight">
                            <span class="h4 number">01.</span>
                            <div class="content">
                                <h5 class="mb_8">Buy A Home</h5>
                                <p>Explore diverse properties and expert guidance for a seamless buying experience.</p>
                            </div>
                        </li>
                        <li class="d-flex gap_20 scrolling-effect effectRight">
                            <span class="h4 number">02.</span>
                            <div class="content">
                                <h5 class="mb_8">Rent A Home</h5>
                                <p>Discover your perfect rental effortlessly. Explore a diverse variety of listings tailored precisely to suit your unique lifestyle needs.</p>
                            </div>
                        </li>
                        <li class="d-flex gap_20 scrolling-effect effectRight">
                            <span class="h4 number">03.</span>
                            <div class="content">
                                <h5 class="mb_8">Sell A Home</h5>
                                <p>Sell confidently with expert guidance and effective strategies, showcasing your property's best features for a successful sale.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="parallaxie" style='background: url("{% static 'images/section/banner-5.jpg' %}")'>
                    <div class="content">
                        <div class="wrap d-flex flex-column">
                            <div class="tf-box-icon style-1">
                                <div class="heading d-flex justify-content-between mb_20">
                                    <div class="counter-item style-default">
                                        <div class="counter-number">
                                            <h2 class="odometer" data-number="112">10</h2>
                                        </div>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-Certificate"></i>
                                    </div>
                                </div>
                                <h6 class="text_secondary-color sub">Awards Received</h6>
                            </div>
                            <div class="d-flex gap_12 bot">
                                <div class="tf-box-icon style-1">
                                    <div class="heading d-flex justify-content-between mb_20">
                                        <div class="counter-item style-default">
                                            <div class="counter-number">
                                                <h2 class="odometer" data-number="85">10</h2>
                                            </div>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-BuildingOffice"></i>
                                        </div>
                                    </div>
                                    <h6 class="text_secondary-color sub">Satisfied Clients</h6>
                                </div>
                                <div class="tf-box-icon style-1">
                                    <div class="heading d-flex justify-content-between mb_20">
                                        <div class="counter-item style-default">
                                            <div class="counter-number">
                                                <h2 class="odometer" data-number="66">10</h2>
                                            </div>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-ChartDonut"></i>
                                        </div>
                                    </div>
                                    <h6 class="text_secondary-color sub">Monthly Traffic</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End section-about -->