<!-- section-events -->
<div class="section-career tf-spacing-8" id="events">
    <div class="tf-container">
        <div class="wrap-heading-section d-flex justify-content-between align-items-center mb_30">
            <div class="heading-section">
                <h3>Мероприятия</h3>
            </div>
            <a href="https://prestigecars.com/events/" class="tf-btn btn-bg-1 btn-px-32">
                <span>Все мероприятия</span>
                <span class="bg-effect"></span>
            </a>
        </div>
    </div>
    <div class="tf-container sw-layout">
        <div class="swiper" data-preview="2" data-tablet="2" data-mobile="1" data-space-lg="30" data-space-md="20" data-space="15">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="career-item">
                        <div class="content">
                            <div class="heading">
                                <div class="text-title fw-6 mb_8 text_primary-color"><a href="https://prestigecars.com/events/biznes-zavtrak-bukit/" class="link">БИЗНЕС-ЗАВТРАК | Букит</a></div>
                                <ul class="d-flex">
                                    <li class="d-flex align-items-center gap_4 text_secondary-color"><i class="icon-MapPin"></i>Букит, Бали</li>
                                    <li class="d-flex align-items-center gap_4 text_secondary-color"><i class="icon-CalendarBlank"></i>25.12.2025 в 11:00</li>
                                </ul>
                            </div>
                            <div class="text_secondary-color">Как проверить девелопера и избежать банкротства</div>
                        </div>
                        <div class="wrap-btn">
                            <a href="https://prestigecars.com/events/biznes-zavtrak-bukit/" class="tf-btn btn-border btn-px-28">
                                <span class="text-button-small">Подробнее</span>
                                <span class="bg-effect"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="career-item">
                        <div class="content">
                            <div class="heading">
                                <div class="text-title fw-6 mb_8 text_primary-color"><a href="https://prestigecars.com/events/roofparty-ot-sunny-holding-top-stretching/" class="link">RoofParty от Sunny Holding × Top Stretching</a></div>
                                <ul class="d-flex">
                                    <li class="d-flex align-items-center gap_4 text_secondary-color"><i class="icon-MapPin"></i>Бали</li>
                                    <li class="d-flex align-items-center gap_4 text_secondary-color"><i class="icon-CalendarBlank"></i>23.12.2025 в 17:00</li>
                                </ul>
                            </div>
                            <div class="text_secondary-color">Закрытое вечернее мероприятие</div>
                        </div>
                        <div class="wrap-btn">
                            <a href="https://prestigecars.com/events/roofparty-ot-sunny-holding-top-stretching/" class="tf-btn btn-border btn-px-28">
                                <span class="text-button-small">Подробнее</span>
                                <span class="bg-effect"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- остальные слайды -->
            </div>
            <div class="sw-dots style-1 sw-pagination-layout justify-content-center d-flex mt_24 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
        </div>
    </div>
</div>