<!-- section-call-back -->
            <div class="section-call-back tf-spacing-6" id="callback">
                <div class="tf-container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="left">
                                <div class="heading-section mb_30">
                                    <span
                                        class="sub text-uppercase fw-6 text_secondary-color-2 split-text effect-rotate">Обратный звонок</span>
                                    <h3 class="split-text effect-blur-fade">Нужна помощь? Мы перезвоним</h3>
                                    <p class="text-body-2 split-text split-lines-transform">Есть вопросы или нужна помощь? Просто оставьте свои данные, и наша команда свяжется с вами в ближайшее время.</p>
                                </div>
                                <div class="info tf-grid-layout md-col-2">
                                    <div class="item effect-icon scrolling-effect effectBottom">
                                        <div class="icon">
                                            <i class="icon-PhoneCall"></i>
                                        </div>
                                        <div>
                                            <div class="text-title fw-6 text_primary-color mb_4">Связаться с нами</div>
                                            <p>WhatsApp</p>
                                        </div>
                                    </div>
                                    <div class="item effect-icon  scrolling-effect effectBottom" data-delay="0.2">
                                        <div class="icon">
                                            <i class="icon-Alarm"></i>
                                        </div>
                                        <div>
                                            <div class="text-title fw-6 text_primary-color mb_4">Email:</div>
                                            <a href="mailto:info@prestigecars.com"
                                                class="link text_secondary-color text-body-default">info@prestigecars.com</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form class="form-call-back scrolling-effect effectRight">
                                <div class="tf-grid-layout sm-col-2 gap_20 mb_20">
                                    <fieldset class="">
                                        <label for="fullName" class="text-button text_primary-color fw-7 mb_8">Ваше имя</label>
                                        <input class="" id="fullName" type="text" placeholder="Ваше имя" name="text"
                                            tabindex="2" value="" aria-required="true" required="">
                                    </fieldset>
                                    <fieldset class="">
                                        <label for="email"
                                            class="text-button text_primary-color fw-7 mb_8">Email</label>
                                        <input class="" id="email" type="email" placeholder="Введите ваш email"
                                            name="email" tabindex="2" value="" aria-required="true" required="">
                                    </fieldset>
                                </div>
                                <div class="tf-grid-layout sm-col-2 gap_20 mb_24">
                                    <fieldset class="">
                                        <label for="phone" class="text-button text_primary-color fw-7 mb_8">Телефон</label>
                                        <input class="" id="phone" type="number" placeholder="Введите ваш номер телефона"
                                            name="text" tabindex="2" value="" aria-required="true" required="">
                                    </fieldset>
                                    <div>
                                        <div class="text-button text_primary-color mb_8">Чем мы можем помочь?</div>
                                        <div class="nice-select" tabindex="0">
                                            <span class="current">Инвестиции в недвижимость</span>
                                            <ul class="list">
                                                <li data-value class="option selected">Инвестиции в недвижимость</li>
                                                <li data-value="buying" class="option">Покупка виллы</li>
                                                <li data-value="selling" class="option">Продажа недвижимости</li>
                                                <li data-value="financing" class="option">Варианты финансирования</li>
                                                <li data-value="Other" class="option">Другое</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <button class="tf-btn btn-bg-1 btn-px-28 w-full" type="submit">
                                    <span>Заказать обратный звонок</span>
                                    <span class="bg-effect"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="banner">
                        <img src="images/section/banner-4.jpg" width="1290" height="660" alt="banner">
                    </div>
                </div>
            </div>
            <!-- End section-call-back -->