<div class="bg-dark-color sw-layout tf-spacing-1 properties-video">
    <div class="tf-container">
        <div class="wrap-heading-section d-flex justify-content-between align-items-center mb_48">
            <div class="heading-section">
                <h3 class="text_white">Видео от застройщиков</h3>
            </div>
            <a href="/videos/" class="tf-btn btn-bg-white btn-px-32">
                <span>Смотреть все видео</span>
                <span class="bg-effect"></span>
            </a>
        </div>
    </div>
    <div class="tf-container slider-layout-right">
        <div class="swiper scrolling-effect effectRight" data-screen-xl="3.712" data-preview="2.7" data-tablet="2.3" data-mobile-sm="1.5" data-mobile="1.1" data-space-lg="30" data-space-md="20" data-space="15">
            <div class="swiper-wrapper">
                <!-- Slide 1 -->
                 <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 6" style="width: 394.3px; margin-right: 30px;">
                                <div class="card-house style-2 hover-image">
                                    <div class="img-style">
                                        <img class="lazyload" data-src="images/section/property-detail.jpg" src="https://img.youtube.com/vi/yo8umxcf_lE/maxresdefault.jpg" alt="">
                                        <a href="https://www.youtube.com/watch?v=MLpWrANjFbI" class="popup-youtube">
                                            <img src="https://luminor-eight.vercel.app/icons/play.svg" alt="play"> </a>
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            
                                            
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        
                                    </div>
                                    <div class="content">
                                        <p class="line-clamp-1">Интервью с Никитой Марковым, CEO HIDDEN CITY</p>
                                       
                                    </div>
                                </div>
                            </div>
                
                <!-- Slide 2 -->
                 <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 6" style="width: 394.3px; margin-right: 30px;">
                                <div class="card-house style-2 hover-image">
                                    <div class="img-style">
                                        <img class="lazyload" data-src="images/section/property-detail.jpg" src="https://img.youtube.com/vi/yo8umxcf_lE/maxresdefault.jpg" alt="">
                                        <a href="https://www.youtube.com/watch?v=MLpWrANjFbI" class="popup-youtube">
                                            <img src="https://luminor-eight.vercel.app/icons/play.svg" alt="play"> </a>
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            
                                            
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        
                                    </div>
                                    <div class="content">
                                        <p class="line-clamp-1">Интервью с Никитой Марковым, CEO HIDDEN CITY</p>
                                       
                                    </div>
                                </div>
                            </div>
                <!-- Slide 3 -->
                 <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 6" style="width: 394.3px; margin-right: 30px;">
                                <div class="card-house style-2 hover-image">
                                    <div class="img-style">
                                        <img class="lazyload" data-src="images/section/property-detail.jpg" src="https://img.youtube.com/vi/yo8umxcf_lE/maxresdefault.jpg" alt="">
                                        <a href="https://www.youtube.com/watch?v=MLpWrANjFbI" class="popup-youtube">
                                            <img src="https://luminor-eight.vercel.app/icons/play.svg" alt="play"> </a>
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            
                                            
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        
                                    </div>
                                    <div class="content">
                                        <p class="line-clamp-1">Интервью с Никитой Марковым, CEO HIDDEN CITY</p>
                                       
                                    </div>
                                </div>
                            </div>
                <!-- Slide 4 -->
                 <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 6" style="width: 394.3px; margin-right: 30px;">
                                <div class="card-house style-2 hover-image">
                                    <div class="img-style">
                                        <img class="lazyload" data-src="images/section/property-detail.jpg" src="https://img.youtube.com/vi/yo8umxcf_lE/maxresdefault.jpg" alt="">
                                        <a href="https://www.youtube.com/watch?v=MLpWrANjFbI" class="popup-youtube">
                                            <img src="https://luminor-eight.vercel.app/icons/play.svg" alt="play"> </a>
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            
                                            
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        
                                    </div>
                                    <div class="content">
                                        <p class="line-clamp-1">Интервью с Никитой Марковым, CEO HIDDEN CITY</p>
                                       
                                    </div>
                                </div>
                            </div>
                <!-- Slide 5 -->
                 <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 6" style="width: 394.3px; margin-right: 30px;">
                                <div class="card-house style-2 hover-image">
                                    <div class="img-style">
                                        <img class="lazyload" data-src="images/section/property-detail.jpg" src="https://img.youtube.com/vi/yo8umxcf_lE/maxresdefault.jpg" alt="">
                                        <a href="https://www.youtube.com/watch?v=MLpWrANjFbI" class="popup-youtube">
                                            <img src="https://luminor-eight.vercel.app/icons/play.svg" alt="play"> </a>
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            
                                            
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        
                                    </div>
                                    <div class="content">
                                        <p class="line-clamp-1">Интервью с Никитой Марковым, CEO HIDDEN CITY</p>
                                       
                                    </div>
                                </div>
                            </div>
                <!-- Slide 6 -->
                 <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 6" style="width: 394.3px; margin-right: 30px;">
                                <div class="card-house style-2 hover-image">
                                    <div class="img-style">
                                        <img class="lazyload" data-src="images/section/property-detail.jpg" src="https://img.youtube.com/vi/yo8umxcf_lE/maxresdefault.jpg" alt="">
                                        <a href="https://www.youtube.com/watch?v=MLpWrANjFbI" class="popup-youtube">
                                            <img src="https://luminor-eight.vercel.app/icons/play.svg" alt="play"> </a>
                                        <div class="wrap-tag d-flex gap_8 mb_12">
                                            
                                            
                                        </div>
                                        <a href="property-details-1.html" class="overlay-link"></a>
                                        
                                    </div>
                                    <div class="content">
                                        <p class="line-clamp-1">Интервью с Никитой Марковым, CEO HIDDEN CITY</p>
                                       
                                    </div>
                                </div>
                            </div>
            </div>
            <div class="sw-dots sw-pagination-layout justify-content-center d-flex mt_24 d-md-none"></div>
        </div>
    </div>
</div>
<style>
    .properties-video .img-style {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.properties-video .popup-youtube {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.properties-video .popup-youtube img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

.properties-video .popup-youtube:hover img {
    transform: scale(1.1);
}
</style>