{% load static i18n %}
{% include 'includes/footer_banner.html' %}
{% include 'includes/footer_contacts.html' %}
<!-- Footer -->
<footer class="footer">
    <div class="tf-container w-lg">
        <div class="footer-body">
            <div class="row">
                <div class="col-lg-6 col-md-6">
    <div class="footer-about footer-item">
        <a href="{% url 'index' %}" class="footer-logo mb_24">
            <img src="{% static 'images/logo-color.svg' %}" alt="Prestige Cars 24" class="main-logo" width="220">
        </a>
        <div class="mb_16">
            <p class="text_white text_color-2">For over 10 years we've been offering more than just a rental: a tailored luxury experience. Every journey is perfect, personalized, and uncompromising.</p>
        </div>
        <div class="text-body-default-f-header text_secondary-color mb_16">
            <span class="text_color-1 qodef-m-subtitle">Call center:</span>
            <a href="tel:+393391069936" class="text_white qodef-m-subtitle link ms_4" data-gtag-event="phone_footer">+39 339 106 9936</a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-6">
    <div class="footer-content footer-item d-flex justify-content-between">
        <div class="footer-col-block company">
            <div class="footer-heading text-title text_white mb_16">Quick Links</div>
            <ul class="footer-menu-list d-grid">
                <li class="text-body-default-f-header text_color-1 mb_10"><a href="{% url 'index' %}#carrental" class="link link_white">Car rental</a></li>
                <li class="text-body-default-f-header text_color-1 mb_10"><a href="https://wa.me/393391069936" class="link link_white">Luxury services</a></li>
                <li class="text-body-default-f-header text_color-1 mb_10"><a href="{% url 'faq' %}" class="link link_white">FAQ</a></li>
                <li class="text-body-default-f-header text_color-1 mb_10"><a href="{% url 'contacts' %}" class="link link_white">Contact Us</a></li>
                <li class="text-body-default-f-header text_color-1 mb_10"><a href="{% url 'privacy' %}" class="link link_white">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-6">
    <div class="footer-content footer-item d-flex justify-content-between">
        <div class="footer-col-block quick-link">
            <div class="footer-heading text-title text_white mb_16">Cars by Brand</div>
            <ul class="footer-menu-list d-grid">
                <li class="text-body-default-f-header text_color-1 mb_10"><a href="{% url 'index' %}#carrental" class="link link_white">Mercedes</a></li>
                <li class="text-body-default-f-header text_color-1 mb_10"><a href="{% url 'index' %}#carrental" class="link link_white">Lamborghini</a></li>
                <li class="text-body-default-f-header text_color-1 mb_10"><a href="{% url 'index' %}#carrental" class="link link_white">Ferrari</a></li>
                <li class="text-body-default-f-header text_color-1 mb_10"><a href="{% url 'index' %}#carrental" class="link link_white">BMW</a></li>
                <li class="text-body-default-f-header text_color-1 mb_10"><a href="{% url 'index' %}#carrental" class="link link_white">Audi</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-2">
    <div class="footer-newsletter footer-item">
        <div class="footer-heading text-title text_white mb_16">Our Services</div>
        <ul class="footer-menu-list d-grid mb_20">
            <li class="text-body-default-f-header text_color-1 mb_10"><a href="https://wa.me/393391069936" class="link link_white">Airport Transfer</a></li>
            <li class="text-body-default-f-header text_color-1 mb_10"><a href="https://wa.me/393391069936" class="link link_white">Corporate Travels</a></li>
            <li class="text-body-default-f-header text_color-1 mb_10"><a href="https://wa.me/393391069936" class="link link_white">Special Events</a></li>
            <li class="text-body-default-f-header text_color-1 mb_10"><a href="https://wa.me/393391069936" class="link link_white">Wedding Limousine</a></li>
        </ul>
    </div>
</div>
            </div>
        </div>
        <div class="footer-bottom d-flex align-items-center justify-content-between">
    <p class="text_muted-color text_bottom">© 2025 Prestige Cars 2025, All Rights Reserved. P.IVA 14361730964.</p>
</div>
    </div>
</footer>
<!-- End Footer -->