{% load static i18n %}
<!-- section-contact-info -->
<div class="section-contact-info">
    <div class="tf-container w-lg">
        <div class="tf-grid-layout md-col-3 gap_30">
            <div class="item d-flex align-items-center gap_20">
                <div class="icon" style="width: 26px;">
                    <img src="{% static 'images/content-bottom-icon-001.png' %}" alt="location" width="52" height="84">
                </div>
                <div>
                    <p class="text_color-1 text_color-contact">Via Giacomo Leopardi, 26</p>
                    <p class="text_color-1 text_color-contact">20123 Milano MI</p>
                </div>
            </div>
            <div class="item d-flex align-items-center gap_20">
                <div class="icon" style="width: 45px;">
                    <img src="{% static 'images/h1-icon-img-1.2.png' %}" alt="contact" width="90" height="100">
                </div>
                <div>
                    <p class="text_color-1 text_color-contact"><a href="tel:+393391069936" class="link">Tel: +39 339 106 9936</a></p>
                    <p class="text_color-1 text_color-contact"><a href="mailto:booking@prestigecars24.com" class="link">Email: booking@prestigecars24.com</a></p>
                </div>
            </div>
            <div class="item d-flex align-items-center gap_20">
                <div class="icon" style="width: 45px;">
                    <img src="{% static 'images/content-bottom-icon-003.png' %}" alt="hours" width="90" height="90">
                </div>
                <div>
                    <p class="text_color-1 text_color-contact">Mon-Sun 09:00-23:00</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End section-contact-info -->
<style>
.section-contact-info .item p,
.section-contact-info .item a {
    color: #a6a6a6;
}
.section-contact-info .item a:hover {
    color: #ffffff;
}
div.section-contact-info {
    padding: 75px 60px 80px;
    background-color: #0c1315;
}
@media (max-width: 768px) {
    div.section-contact-info {
        padding: 50px 5px;
    }
}
</style>