{% load static %}
<header class="header style-default">
    <div class="tf-container w-xxl">
        <div class="row">
            <div class="col-12">
                <div class="header-inner">
                    <a href="{% url 'index' %}" class="site-logo">
                        <img class="logo_header" alt="Prestige Cars 24" src="{% static 'images/logo-color.svg' %}">
                    </a>
                    <nav class="main-menu">
                        <ul class="navigation">
                            <li class="text-menu"><a href="{% url 'index' %}#about" class="link_black toggle splitting">
                                    <span class="text" data-splitting="">About Us</span>
                                    <span class="text" data-splitting="">About Us</span>
                                </a>
                            </li>
                            <li class="text-menu"><a href="{% url 'index' %}#carrental" class="link_black ">
                                    <span class="text" data-splitting="">Car Rental</span>
                                </a>
                            </li>
                            <li class="text-menu"><a href="https://wa.me/+393391069936?text=Hi%21%20I%20would%20like%20to%20inquire%20about%20your%20luxury%20services%2C%20including%20Airport%20Transfer%2C%20Wee%20Airport%20Transfer%2C%20Corporate%20Travels%2C%20Special%20Events%2C%20and%20Wedding%20Limousine.%20Could%20you%20please%20provide%20more%20information%3F" class="link_black">
                                    <span class="text" data-splitting="">Luxury Services</span>
                                </a>
                            </li>
                            <li class="text-menu"><a href="{% url 'index' %}#locations" class="link_black">
                                    <span class="text" data-splitting="">Locations</span>
                                </a>
                            </li>
                            <li class="text-menu"><a href="{% url 'contacts' %}" class="link_black">
                                    <span class="text" data-splitting="">Contacts</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header-right d-flex align-items-center gap_20">
                        <div class="text-button text_primary-color">
                            <a href="tel:+393391069936" class="link link_font" data-gtag-event="phone_header">+39 339 106 9936</a>
                        </div>
                        <div class="mobile-button d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#menu-mobile" aria-controls="menu-mobile">
                            <div class="burger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<style>
/* Десктоп по умолчанию */
.logo_header {
    width: 190px;
}

/* Мобилки (до 768px) */
@media (max-width: 768px) {
    .logo_header{
        width: 145px!important;
    }
    .header-top {
        padding: 0;
    }
}
</style>