{% load static %}
{% load i18n %}

<header id="qodef-page-mobile-header" role="banner">
    <div id="qodef-page-mobile-header-inner" class="qodef-skin--light">
        <a itemprop="url" class="qodef-mobile-header-logo-link qodef-height--set qodef-source--image" href="{% url 'core:home' %}" rel="home">
            <h1 class="logo-text2">PRESTIGECARS24</h1>
        </a>
        
        <a href="javascript:void(0)" class="qodef-opener-icon qodef-m qodef-source--predefined qodef-mobile-header-opener">
            <span class="qodef-m-icon qodef--open">
                <svg class="qodef-svg--menu" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50px" height="8px" viewBox="0 0 50 8">
                    <line x1="0" y1="0.5" x2="50" y2="0.5"></line>
                    <line x1="50" y1="7.5" x2="0" y2="7.5"></line>
                </svg>
            </span>
            <span class="qodef-m-icon qodef--close">
                <svg class="qodef-svg--close" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16">
                    <line x1="15.5" y1="0.5" x2="0.5" y2="15.5"></line>
                    <line x1="0.5" y1="0.5" x2="15.5" y2="15.5"></line>
                </svg>
            </span>
        </a>
    </div>
    
    <nav class="qodef-mobile-header-navigation" role="navigation" aria-label="Mobile Menu">
        <ul id="menu-main-menu-4" class="">
            <li class="menu-item">
                <a href="{% url 'core:about' %}"><span class="qodef-menu-item-text">About Us</span></a>
            </li>
            <li class="menu-item">
                <a href="{% url 'car_rental' %}"><span class="qodef-menu-item-text">Car rental</span></a>
            </li>
            <li class="menu-item">
                <a href="{% url 'luxury_services' %}"><span class="qodef-menu-item-text">Luxury Services</span></a>
            </li>
            <li class="menu-item">
                <a href="{% url 'locations' %}"><span class="qodef-menu-item-text">Locations</span></a>
            </li>
        </ul>
    </nav>
</header>