{% load static %}
{# === META TAGS - includes/meta.html === #}

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="theme-color" content="#0c1315">
<meta name="format-detection" content="telephone=no">
<meta name="author" content="Prestige Cars 24">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">

<!-- Geo -->
<meta name="geo.region" content="IT-MI">
<meta name="geo.placename" content="Milan, Italy">
<meta name="geo.position" content="45.4669;9.1698">
<meta name="ICBM" content="45.4669, 9.1698">

<!-- Language -->
<meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE|default:'en' }}">
<link rel="alternate" hreflang="en" href="https://prestigecars24.com{{ request.path }}">
<link rel="alternate" hreflang="it" href="https://prestigecars24.com/it{{ request.path }}">
<link rel="alternate" hreflang="x-default" href="https://prestigecars24.com{{ request.path }}">

<!-- Canonical -->
<link rel="canonical" href="https://prestigecars24.com{{ request.path }}">

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:locale:alternate" content="it_IT">
<meta property="og:site_name" content="Prestige Cars 24">
<meta property="og:url" content="https://prestigecars24.com{{ request.path }}">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@prestigecars24">

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'site.webmanifest' %}">

<!-- Preconnect -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://www.google-analytics.com">

<!-- DNS Prefetch -->
<link rel="dns-prefetch" href="//www.googletagmanager.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//mc.yandex.ru">
<link rel="dns-prefetch" href="//fonts.googleapis.com">