<!-- Basic Page Needs -->
<meta charset="utf-8">
<!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="author" content="Prestige Cars 24">
<meta name="robots" content="index, follow">
<meta name="theme-color" content="#0c1315">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Prestige Cars 24">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">

<!-- Technical Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="theme-color" content="#0c1315">
<meta name="format-detection" content="telephone=no">
<meta name="author" content="Prestige Cars 24">