{% load static %}
<!-- Mobile Menu -->
    <div class="offcanvas offcanvas-end mobile-nav-wrap " tabindex="-1" id="menu-mobile" aria-labelledby="menu-mobile">
        <div class="fixed-nav-rounded-div">
            <div class="rounded-div-wrap">
                <div class="rounded-div"></div>
            </div>
        </div>
        <div class="offcanvas-header top-nav-mobile">
            <div class="offcanvas-title">
                <a href="index.html" class="site-logo">
                    <img src="images/logo/logo.svg" alt="logo" class="main-logo" width="193" height="44"
                        data-light="images/logo/logo.svg" data-dark="images/logo/logo-dark.svg">
                </a>
            </div>
            <div data-bs-dismiss="offcanvas" class="btn-close-menu">
                <i class="icon-times-solid"></i>
            </div>
        </div>
        <div class="offcanvas-body inner-mobile-nav">
            <div class="mb-body">
                <ul id="menu-mobile-menu" class="style-1">
                    <li class="menu-item menu-item-has-children-mobile active">
                        <a href="#dropdown-menu-one" class="item-menu-mobile collapsed" data-bs-toggle="collapse"
                            aria-expanded="true" aria-controls="dropdown-menu-one">
                            Home
                        </a>
                        <div id="dropdown-menu-one" class="collapse" data-bs-parent="#menu-mobile-menu">
                            <ul class="sub-mobile">
                                <li class="menu-item"><a href="index.html">Homepage 1</a></li>
                                <li class="menu-item"><a href="home02.html">Homepage 2</a></li>
                                <li class="menu-item active"><a href="home03.html">Homepage 3</a></li>
                                <li class="menu-item"><a href="home04.html">Homepage 4</a></li>
                                <li class="menu-item"><a href="home05.html">Homepage 5</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item menu-item-has-children-mobile">
                        <a href="#dropdown-menu-two" class="item-menu-mobile collapsed" data-bs-toggle="collapse"
                            aria-expanded="true" aria-controls="dropdown-menu-two">
                            Listing
                        </a>
                        <div id="dropdown-menu-two" class="collapse" data-bs-parent="#menu-mobile-menu">
                            <ul class="sub-mobile ">
                                <li class="menu-item"><a href="listing-topmap-grid.html">Listing Topmap Grid</a></li>
                                <li class="menu-item"><a href="listing-topmap-list.html">Listing Topmap List</a></li>
                                <li class="menu-item"><a href="listing-left-sidebar.html">Listing Left Sidebar</a></li>
                                <li class="menu-item"><a href="listing-right-sidebar.html">Listing Right Sidebar</a>
                                </li>
                                <li class="menu-item"><a href="listing-half-map-grid.html">Listing Half Map Grid</a>
                                </li>
                                <li class="menu-item"><a href="listing-half-map-list.html">Listing Half Map List</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item menu-item-has-children-mobile">
                        <a href="#dropdown-menu-three" class="item-menu-mobile collapsed" data-bs-toggle="collapse"
                            aria-expanded="true" aria-controls="dropdown-menu-three">
                            Properties
                        </a>
                        <div id="dropdown-menu-three" class="collapse" data-bs-parent="#menu-mobile-menu">
                            <ul class="sub-mobile">
                                <li class="menu-item"><a href="property-details-1.html">Property Details 1</a></li>
                                <li class="menu-item"><a href="property-details-2.html">Property Details 2</a></li>
                                <li class="menu-item"><a href="property-details-3.html">Property Details 3</a></li>
                                <li class="menu-item"><a href="property-details-4.html">Property Details 4</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item menu-item-has-children-mobile">
                        <a href="#dropdown-menu-four" class="item-menu-mobile collapsed" data-bs-toggle="collapse"
                            aria-expanded="true" aria-controls="dropdown-menu-four">
                            Pages
                        </a>
                        <div id="dropdown-menu-four" class="collapse" data-bs-parent="#menu-mobile-menu">
                            <ul class="sub-mobile">
                                <li class="menu-item"><a href="about-us.html">About Us</a></li>
                                <li class="menu-item"><a href="agents.html">Agents</a></li>
                                <li class="menu-item"><a href="agents-detail.html">Agents Details</a></li>
                                <li class="menu-item"><a href="agencies-grid.html">Agencies Grid</a></li>
                                <li class="menu-item"><a href="agencies-list.html">Agencies List</a></li>
                                <li class="menu-item"><a href="agencies-detail.html">Agencies Details</a></li>
                                <li class="menu-item"><a href="career.html">Career</a></li>
                                <li class="menu-item"><a href="compare.html">Compare</a></li>
                                <li class="menu-item"><a href="home-loan-process.html">Home Loan Process</a></li>
                                <li class="menu-item"><a href="our-pricing.html">Our Pricing</a></li>
                                <li class="menu-item"><a href="FAQs.html">FAQs</a></li>
                                <li class="menu-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li class="menu-item"><a href="login.html">Login/Register</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item menu-item-has-children-mobile">
                        <a href="#dropdown-menu-five" class="item-menu-mobile collapsed" data-bs-toggle="collapse"
                            aria-expanded="true" aria-controls="dropdown-menu-five">
                            Blog
                        </a>
                        <div id="dropdown-menu-five" class="collapse" data-bs-parent="#menu-mobile-menu">
                            <ul class="sub-mobile">
                                <li class="menu-item"><a href="blog-standard.html">Blog Standard</a></li>
                                <li class="menu-item"><a href="blog-grid.html">Blog Grid</a></li>
                                <li class="menu-item"><a href="blog-list.html">Blog List</a></li>
                                <li class="menu-item"><a href="blog-post-1.html">Blog Post 1</a></li>
                                <li class="menu-item"><a href="blog-post-2.html">Blog Post 2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item menu-item-has-children-mobile">
                        <a href="#dropdown-menu-six" class="item-menu-mobile collapsed" data-bs-toggle="collapse"
                            aria-expanded="true" aria-controls="dropdown-menu-six">
                            Dashboard
                        </a>
                        <div id="dropdown-menu-six" class="collapse" data-bs-parent="#menu-mobile-menu">
                            <ul class="sub-mobile">
                                <li class="menu-item"><a href="dashboard.html">Dashboard</a></li>
                                <li class="menu-item"><a href="my-properties.html">My Properties</a></li>
                                <li class="menu-item"><a href="my-invoices.html">My Invoices</a></li>
                                <li class="menu-item"><a href="my-package.html">My Package</a></li>
                                <li class="menu-item"><a href="my-favorites.html">My Favorites</a></li>
                                <li class="menu-item"><a href="my-saved-searchs.html">My Saved Searchs</a></li>
                                <li class="menu-item"><a href="reviews.html">Reviews</a></li>
                                <li class="menu-item"><a href="my-profile.html">My Profile</a></li>
                                <li class="menu-item"><a href="add-property.html">Add Property</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a href="contacts.html" class="item-menu-mobile">Contacts</a>
                    </li>
                </ul>
                <div class="support">
                    <a href="add-property.html" class="tf-btn ">
                        <span>Submit Property</span>
                        <span class="bg-effect"></span>
                    </a>
                    <a href="#" class="text-need"> Need help?</a>
                    <ul class="mb-info">
                        <li>Call Us Now: <span class="number">+1 666 8888</span></li>
                        <li>Support 24/7: <a href="#" class="link">themesflat@gmail.com</a></li>
                        <li>
                            <div class="wrap-social">
                                <p>Follow us:</p>
                                <ul class="social align-items-center d-flex gap_24">
                                    <li><a href="#" class="icon-FacebookLogo"></a></li>
                                    <li><a href="#" class="icon-XLogo"></a></li>
                                    <li><a href="#" class="icon-TiktokLogo"></a></li>
                                    <li><a href="#" class="icon-InstagramLogo"></a></li>
                                    <li><a href="#" class="icon-YoutubeLogo"></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    