{% load static i18n %}
<!-- Critical -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>

<!-- UI Components -->
<script defer src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script defer src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<!-- Animations -->
<script defer src="{% static 'js/splitting.min.js' %}"></script>
<script defer src="{% static 'js/gsap.min.js' %}"></script>
<script defer src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<script defer src="{% static 'js/SplitText.min.js' %}"></script>
<script defer src="{% static 'js/ScrollSmooth.js' %}"></script>
<script defer src="{% static 'js/parallaxie.js' %}"></script>
<script defer src="{% static 'js/handleGsap.js' %}"></script>

<!-- App Logic -->
<script defer src="{% static 'js/carousel.js' %}"></script>
<script defer src="{% static 'js/main.js' %}"></script>

<!-- External -->
<script async src="https://sibforms.com/forms/end-form/build/main.js"></script>