{% load static %}

<div id="qodef-side-area" class="qodef-alignment--left ps">
    <a href="javascript:void(0)" id="qodef-side-area-close" class="qodef-opener-icon qodef-m qodef-source--predefined qodef--opened">
        <span class="qodef-m-icon">
            <svg class="qodef-svg--close" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16">
                <line x1="15.5" y1="0.5" x2="0.5" y2="15.5"></line>
                <line x1="0.5" y1="0.5" x2="15.5" y2="15.5"></line>
            </svg>
        </span>
    </a>
    
    <div id="qodef-side-area-inner">
        <div class="widget widget_luxedrive_core_single_image">
            <div class="qodef-shortcode qodef-m qodef-single-image qodef-layout--default qodef--retina">
                <div class="qodef-m-image">
                    <a href="{% url 'core:home' %}" target="_self">
                        <h1 class="logo-text2">PRESTIGECARS24</h1>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="widget widget_luxedrive_core_separator">
            <div class="qodef-shortcode qodef-m qodef-separator clear">
                <div class="qodef-m-line" style="width: 0px;border-bottom-width: 0px;margin-top: 30px;margin-bottom: 0px"></div>
            </div>
        </div>
        
        <div class="widget widget_block widget_text">
            <p>For over 15 years, Prestige Cars has offered more than just a rental: a tailored luxury experience. Every journey is perfect, personalized, and uncompromising. Luxury is a lifestyle.</p>
        </div>
        
        <div class="widget widget_block widget_text">
            <p>Mon - Sat 9:00-23:00<br>Sunday - closed<br></p>
        </div>
        
        <div class="widget widget_luxedrive_core_separator">
            <div class="qodef-shortcode qodef-m qodef-separator clear">
                <div class="qodef-m-line" style="width: 0px;border-bottom-width: 0px;margin-top: 11px;margin-bottom: 0px"></div>
            </div>
        </div>
        
        <div class="widget widget_luxedrive_core_icon_with_text">
            <div class="qodef-shortcode qodef-m qodef-icon-with-text qodef-layout--before-content qodef--custom-icon qodef--retina qodef--predefined-text">
                <div class="qodef-m-icon-wrapper" style="width: 45px">
                    <a href="tel:+390266988508" target="_self">
                        <img loading="lazy" width="90" height="100" src="{% static 'images/h1-icon-img-1.2.png' %}" alt="phone">
                    </a>
                </div>
                <div class="qodef-m-content">
                    <h3 class="qodef-m-title" style="color: #bfa37c">
                        <a href="tel:+390266988508" target="_self">
                            <span class="qodef-m-title-text">Call center: +39 026 698 8508</span>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>