  <div class="tourPagesSidebar" data-x="tourPagesSidebar" data-x-toggle="-is-active">
    <div class="tourPagesSidebar__overlay"></div>
    <div class="tourPagesSidebar__content">
      <div class="tourPagesSidebar__header d-flex items-center justify-between">
        <div class="text-20 fw-500">All filters</div>

        <button class="button -dark-1 size-40 rounded-full bg-light-1" data-x-click="tourPagesSidebar">
          <i class="icon-cross text-10"></i>
        </button>
      </div>
    </div>
  </div>