{% load static i18n %}
<!-- Critical CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<!-- Animations (низкий приоритет) -->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{% static 'css/odometer.min.css' %}" media="print" onload="this.media='all'">

<!-- External -->
<link rel="stylesheet" href="{% static 'css/sib-styles.css' %}" media="print" onload="this.media='all'">

<!-- Icons -->
<link rel="stylesheet" href="{% static 'icons/icomoon/style.css' %}">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500&family=Inconsolata:wght@400;500;600&family=Sora:wght@300;400&display=swap" rel="stylesheet">

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.jpg' %}">
<link rel="apple-touch-icon" href="{% static 'images/favicon.jpg' %}">

