{% load static %}

<section class="elementor-section elementor-top-section elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default" style="background-color: #0c1315;">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column">
            <div class="elementor-widget-wrap elementor-element-populated">
                
                <!-- Section Title -->
                <div class="elementor-element elementor-widget elementor-widget-luxedrive_core_section_title">
                    <div class="elementor-widget-container">
                        <div class="qodef-shortcode qodef-m qodef-section-title qodef-alignment--right">
                            <h2 class="qodef-m-title" style="color: #FFFFFF">
                                Do You Require A Car?<br>Get In Touch With Us
                            </h2>
                        </div>
                    </div>
                </div>
                
                <!-- WhatsApp Button -->
                <div class="elementor-element elementor-widget__width-auto elementor-widget elementor-widget-luxedrive_core_button">
                    <div class="elementor-widget-container">
                        <a class="qodef-shortcode qodef-m qodef-button qodef-layout--outlined qodef-html--link" 
                           href="https://wa.me/390266988508" target="_blank" style="color: #FFFFFF">
                            <span class="qodef-m-text">Chat in WhatsApp</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>