{% load static %}

<section class="elementor-section elementor-top-section elementor-section-full_width elementor-section-height-default">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-widget elementor-widget-slider_revolution">
                    <div class="elementor-widget-container">
                        <div class="wp-block-themepunch-revslider">
                            <sr7-module data-alias="main-home-rev" data-id="2" id="SR7_2_1" class="rs-ov-hidden" style="height: 917px;">
                                <sr7-adjuster style="height: 917px;"></sr7-adjuster>
                                <sr7-content style="height: 917px; left: 0px; width: 1785px; top: 0px;">
                                    
                                    <!-- Slide 1 -->
                                    <sr7-slide id="SR7_2_1-5" data-key="5">
                                        <sr7-mask style="overflow: visible; width: 100%; height: 917px; z-index: 0; position: absolute;">
                                            <sr7-bg id="SR7_2_1-5-1" class="sr7-layer" data-type="shape" data-subtype="slidebg">
                                                <canvas width="3570" height="1834" style="width: 1785px; height: 917px; z-index: 1; position: absolute; top: 0px; left: 0px;"></canvas>
                                                <noscript>
                                                    <img decoding="async" src="{% static 'images/slides/h1-rev-img-1b.jpg' %}" alt="slide1" title="h1-rev-img-1b">
                                                </noscript>
                                            </sr7-bg>
                                        </sr7-mask>
                                    </sr7-slide>
                                    
                                    <!-- Slide 2 -->
                                    <sr7-slide id="SR7_2_1-6" data-key="6">
                                        <sr7-mask style="overflow: visible; width: 100%; height: 917px; z-index: 0; position: absolute;">
                                            <sr7-bg id="SR7_2_1-6-1" class="sr7-layer" data-type="shape" data-subtype="slidebg">
                                                <canvas width="3570" height="1834" style="width: 1785px; height: 917px; z-index: 1; position: absolute; top: 0px; left: 0px;"></canvas>
                                                <noscript>
                                                    <img decoding="async" src="{% static 'images/slides/h1-rev-img-2b.jpg' %}" alt="slide2" title="h1-rev-img-2b">
                                                </noscript>
                                            </sr7-bg>
                                        </sr7-mask>
                                    </sr7-slide>
                                    
                                    <!-- Slide 3 -->
                                    <sr7-slide id="SR7_2_1-7" data-key="7">
                                        <sr7-mask style="overflow: visible; width: 100%; height: 917px; z-index: 0; position: absolute;">
                                            <sr7-bg id="SR7_2_1-7-1" class="sr7-layer" data-type="shape" data-subtype="slidebg">
                                                <canvas width="3570" height="1834" style="width: 1785px; height: 917px; z-index: 1; position: absolute; top: 0px; left: 0px;"></canvas>
                                                <noscript>
                                                    <img decoding="async" src="{% static 'images/slides/h1-rev-img-3b.jpg' %}" alt="slide3" title="h1-rev-img-3b">
                                                </noscript>
                                            </sr7-bg>
                                        </sr7-mask>
                                    </sr7-slide>
                                    
                                    <!-- Static Slide with Form -->
                                    <sr7-slide id="SR7_2_1-14_2" class="sr7-staticslide sr7-staticslide-low" data-key="14_2">
                                        <sr7-txt id="SR7_2_1-14-1" class="sr7-layer" style="font-family: Roboto; font-size: 20px; width: 1400px; z-index: 7; position: absolute; left: 192.5px; top: 551px;">
                                            <div class="wpcf7">
                                                <form action="#" method="post" class="wpcf7-form">
                                                    <div class="qodef-contact-form">
                                                        <div class="qodef-contact-form-top">
                                                            <h2>Need to Rent a Luxury Car? Send A Request</h2>
                                                            <p>Complete the form below and we'll contact you as soon as possible</p>
                                                        </div>
                                                        
                                                        <div class="qodef-contact-form-bottom">
                                                            <span class="wpcf7-form-control-wrap">
                                                                <div class="qodef-form-wrapper">
                                                                    <input type="text" name="location" placeholder="Choose location" class="wpcf7-form-control" required>
                                                                    <span class="qodef-form-line"></span>
                                                                </div>
                                                            </span>
                                                            
                                                            <span class="wpcf7-form-control-wrap">
                                                                <div class="qodef-form-wrapper">
                                                                    <input type="date" name="date" class="wpcf7-form-control" required>
                                                                    <span class="qodef-form-line"></span>
                                                                </div>
                                                            </span>
                                                            
                                                            <div class="qodef-form-wrapper">
                                                                <select class="wpcf7-form-control wpcf7-time" required>
                                                                    <option value="" disabled selected>Select time</option>
                                                                    <option value="00:00:00">00:00:00</option>
                                                                    <option value="00:30:00">00:30:00</option>
                                                                    <option value="01:00:00">01:00:00</option>
                                                                    <!-- Add more time options -->
                                                                </select>
                                                                <span class="qodef-form-line"></span>
                                                            </div>
                                                            
                                                            <span class="wpcf7-form-control-wrap">
                                                                <div class="qodef-form-wrapper">
                                                                    <input type="text" name="dropoff" placeholder="Drop off location" class="wpcf7-form-control" required>
                                                                    <span class="qodef-form-line"></span>
                                                                </div>
                                                            </span>
                                                            
                                                            <button class="wpcf7-form-control wpcf7-submit qodef-button qodef-size--normal qodef-layout--filled" type="submit">
                                                                <span class="qodef-m-text">send</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </sr7-txt>
                                    </sr7-slide>
                                    
                                    <sr7-module-shadow class="sr7-shdw-0"></sr7-module-shadow>
                                </sr7-content>
                            </sr7-module>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>