{% load static %}

<section class="elementor-section elementor-top-section elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default" style="background-color: #0c1315;">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-widget elementor-widget-luxedrive_core_vehicle_list">
                    <div class="elementor-widget-container">
                        <div class="qodef-shortcode qodef-m qodef-vehicle-list qodef-item-layout--info-on-image qodef-skin--light qodef-grid qodef-layout--columns qodef-gutter--normal qodef-vertical-gutter--very-large qodef-col-num--3">
                            <div class="qodef-grid-inner">
                                
                                <!-- Vehicle Item 1: Audi Q8 -->
                                <div class="qodef-e qodef-grid-item post-2285 vehicle">
                                    <div class="qodef-e-inner">
                                        <div class="qodef-e-image">
                                            <div class="qodef-e-media-image">
                                                <a href="{% url 'vehicle_detail' 'audi-q8' %}" target="_self">
                                                    <img loading="lazy" decoding="async" width="800" height="1027" 
                                                         src="{% static 'images/vehicles/audi-q8.jpg' %}" 
                                                         class="attachment-full size-full" alt="Audi Q8">
                                                </a>
                                            </div>
                                            <div class="qodef-e-image-inner">
                                                <h4 class="qodef-e-type">
                                                    <a href="{% url 'vehicle_type' 'suv' %}" rel="tag">SUV</a>
                                                </h4>
                                                <div class="qodef-e-price-info">
                                                    <div class="qodef-e-price">
                                                        <span class="qodef-e-price-pre-label">from</span>
                                                        <span class="qodef-e-price-inner qodef-currency--before">
                                                            <span class="qodef-currency">€</span>
                                                            180
                                                        </span>
                                                        <span class="qodef-e-price-label">Per hour</span>
                                                    </div>
                                                </div>
                                                <div class="qodef-vehicle-details">
                                                    <div class="qodef-detail-title">Vehicle Details</div>
                                                    <div class="qodef-detail-item">Top speed: 241 km/h</div>
                                                    <div class="qodef-detail-item">Fuel: Mild hybrid Gasoline</div>
                                                    <div class="qodef-detail-item">Transmission: 8-speed automatic</div>
                                                    <div class="qodef-detail-item">Engine: 3.0 L V6 TFSI - 335 HP</div>
                                                    <div class="qodef-detail-item">Seating capacity: 5</div>
                                                    <div class="qodef-detail-item">Acceleration 0-100 km/h: 6.1 sec</div>
                                                    <div class="qodef-detail-item">Traction: All-wheel drive</div>
                                                    <div class="qodef-detail-item">Colour: Black</div>
                                                    <div class="qodef-detail-item">Interior: Leather</div>
                                                </div>
                                                <div class="qodef-e-image-overlay"></div>
                                            </div>
                                        </div>
                                        <div class="qodef-e-content">
                                            <h5 class="qodef-e-title entry-title">
                                                <a class="qodef-e-title-link" href="{% url 'vehicle_detail' 'audi-q8' %}">
                                                    Audi Q8
                                                </a>
                                            </h5>
                                            <div class="qodef-reviews-list-info qodef-reviews-average-count">
                                                <span class="qodef-reviews-number">1</span>
                                                <span class="qodef-reviews-label">Review</span>
                                                <span class="qodef-stars">
                                                    <span class="qodef-stars-wrapper-inner">
                                                        <span class="qodef-stars-items">
                                                            {% for i in "12345" %}
                                                            <svg class="qodef-svg--star qodef-active" xmlns="http://www.w3.org/2000/svg" width="9.47px" height="9.02px" viewBox="0 0 9.47 9.02">
                                                                <g><path d="M6.48,5.55l1.08,3.3L4.74,6.81L1.93,8.84L3,5.55 L0.19,3.5h3.48l1.07-3.31L5.82,3.5H9.3L6.48,5.55z"></path></g>
                                                            </svg>
                                                            {% endfor %}
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Vehicle Item 2: Mercedes-AMG G 63 -->
                                <div class="qodef-e qodef-grid-item post-2294 vehicle">
                                    <div class="qodef-e-inner">
                                        <div class="qodef-e-image">
                                            <div class="qodef-e-media-image">
                                                <a href="{% url 'vehicle_detail' 'mercedes-amg-g-63' %}" target="_self">
                                                    <img loading="lazy" decoding="async" width="800" height="1027" 
                                                         src="{% static 'images/vehicles/mercedes-g63.jpg' %}" 
                                                         class="attachment-full size-full" alt="Mercedes-AMG G 63">
                                                </a>
                                            </div>
                                            <div class="qodef-e-image-inner">
                                                <h4 class="qodef-e-type">
                                                    <a href="{% url 'vehicle_type' 'suv' %}" rel="tag">SUV</a>
                                                </h4>
                                                <div class="qodef-e-price-info">
                                                    <div class="qodef-e-price">
                                                        <span class="qodef-e-price-pre-label">from</span>
                                                        <span class="qodef-e-price-inner qodef-currency--before">
                                                            <span class="qodef-currency">€</span>
                                                            180
                                                        </span>
                                                        <span class="qodef-e-price-label">Per hour</span>
                                                    </div>
                                                </div>
                                                <div class="qodef-vehicle-details">
                                                    <div class="qodef-detail-title">Vehicle Details</div>
                                                    <div class="qodef-detail-item">Top speed: 220 km/h</div>
                                                    <div class="qodef-detail-item">Fuel: Gasoline</div>
                                                    <div class="qodef-detail-item">Transmission: 9-speed automatic</div>
                                                    <div class="qodef-detail-item">Engine: 4.0 L V8 Biturbo - 577 HP</div>
                                                    <div class="qodef-detail-item">Seating capacity: 5</div>
                                                    <div class="qodef-detail-item">Acceleration 0-100 km/h: 4.5 sec</div>
                                                    <div class="qodef-detail-item">Traction: All-wheel drive</div>
                                                    <div class="qodef-detail-item">Colour: Black</div>
                                                    <div class="qodef-detail-item">Interior: Nappa Leather</div>
                                                </div>
                                                <div class="qodef-e-image-overlay"></div>
                                            </div>
                                        </div>
                                        <div class="qodef-e-content">
                                            <h5 class="qodef-e-title entry-title">
                                                <a class="qodef-e-title-link" href="{% url 'vehicle_detail' 'mercedes-amg-g-63' %}">
                                                    Mercedes-AMG G 63
                                                </a>
                                            </h5>
                                            <div class="qodef-reviews-list-info qodef-reviews-average-count">
                                                <span class="qodef-reviews-number">1</span>
                                                <span class="qodef-reviews-label">Review</span>
                                                <span class="qodef-stars">
                                                    <span class="qodef-stars-wrapper-inner">
                                                        <span class="qodef-stars-items">
                                                            {% for i in "12345" %}
                                                            <svg class="qodef-svg--star qodef-active" xmlns="http://www.w3.org/2000/svg" width="9.47px" height="9.02px" viewBox="0 0 9.47 9.02">
                                                                <g><path d="M6.48,5.55l1.08,3.3L4.74,6.81L1.93,8.84L3,5.55 L0.19,3.5h3.48l1.07-3.31L5.82,3.5H9.3L6.48,5.55z"></path></g>
                                                            </svg>
                                                            {% endfor %}
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!-- Vehicle Item 3: BMW X6 -->
                                <div class="qodef-e qodef-grid-item post-2301 vehicle">
                                    <div class="qodef-e-inner">
                                        <div class="qodef-e-image">
                                            <div class="qodef-e-media-image">
                                                <a href="{% url 'vehicle_detail' 'bmw-x6' %}" target="_self">
                                                    <img loading="lazy" decoding="async" width="800" height="1027" 
                                                         src="{% static 'images/vehicles/bmw-x6.jpg' %}" 
                                                         class="attachment-full size-full" alt="BMW X6">
                                                </a>
                                            </div>
                                            <div class="qodef-e-image-inner">
                                                <h4 class="qodef-e-type">
                                                    <a href="{% url 'vehicle_type' 'suv' %}" rel="tag">SUV</a>
                                                </h4>
                                                <div class="qodef-e-price-info">
                                                    <div class="qodef-e-price">
                                                        <span class="qodef-e-price-pre-label">from</span>
                                                        <span class="qodef-e-price-inner qodef-currency--before">
                                                            <span class="qodef-currency">€</span>
                                                            180
                                                        </span>
                                                        <span class="qodef-e-price-label">Per hour</span>
                                                    </div>
                                                </div>
                                                <div class="qodef-vehicle-details">
                                                    <div class="qodef-detail-title">Vehicle Details</div>
                                                    <div class="qodef-detail-item">Top speed: 250 km/h</div>
                                                    <div class="qodef-detail-item">Fuel: Mild hybrid Gasoline</div>
                                                    <div class="qodef-detail-item">Transmission: 8-speed automatic</div>
                                                    <div class="qodef-detail-item">Engine: 3.0 L Inline 6 - 375 HP</div>
                                                    <div class="qodef-detail-item">Seating capacity: 5</div>
                                                    <div class="qodef-detail-item">Acceleration 0-100 km/h: 5.5 sec</div>
                                                    <div class="qodef-detail-item">Traction: All-wheel drive</div>
                                                    <div class="qodef-detail-item">Colour: Black</div>
                                                    <div class="qodef-detail-item">Interior: Leather</div>
                                                </div>
                                                <div class="qodef-e-image-overlay"></div>
                                            </div>
                                        </div>
                                        <div class="qodef-e-content">
                                            <h5 class="qodef-e-title entry-title">
                                                <a class="qodef-e-title-link" href="{% url 'vehicle_detail' 'bmw-x6' %}">
                                                    BMW X6
                                                </a>
                                            </h5>
                                            <div class="qodef-reviews-list-info qodef-reviews-average-count">
                                                <span class="qodef-reviews-number">1</span>
                                                <span class="qodef-reviews-label">Review</span>
                                                <span class="qodef-stars">
                                                    <span class="qodef-stars-wrapper-inner">
                                                        <span class="qodef-stars-items">
                                                            {% for i in "12345" %}
                                                            <svg class="qodef-svg--star qodef-active" xmlns="http://www.w3.org/2000/svg" width="9.47px" height="9.02px" viewBox="0 0 9.47 9.02">
                                                                <g><path d="M6.48,5.55l1.08,3.3L4.74,6.81L1.93,8.84L3,5.55 L0.19,3.5h3.48l1.07-3.31L5.82,3.5H9.3L6.48,5.55z"></path></g>
                                                            </svg>
                                                            {% endfor %}
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Vehicle Item 4: BMW M4 -->
                                <div class="qodef-e qodef-grid-item post-2303 vehicle">
                                    <div class="qodef-e-inner">
                                        <div class="qodef-e-image">
                                            <div class="qodef-e-media-image">
                                                <a href="{% url 'vehicle_detail' 'bmw-m4' %}" target="_self">
                                                    <img loading="lazy" decoding="async" width="800" height="1027" 
                                                         src="{% static 'images/vehicles/bmw-m4.jpg' %}" 
                                                         class="attachment-full size-full" alt="BMW M4">
                                                </a>
                                            </div>
                                            <div class="qodef-e-image-inner">
                                                <h4 class="qodef-e-type">
                                                    <a href="{% url 'vehicle_type' 'sport' %}" rel="tag">Sport</a>
                                                </h4>
                                                <div class="qodef-e-price-info">
                                                    <div class="qodef-e-price">
                                                        <span class="qodef-e-price-pre-label">from</span>
                                                        <span class="qodef-e-price-inner qodef-currency--before">
                                                            <span class="qodef-currency">€</span>
                                                            180
                                                        </span>
                                                        <span class="qodef-e-price-label">Per hour</span>
                                                    </div>
                                                </div>
                                                <div class="qodef-vehicle-details">
                                                    <div class="qodef-detail-title">Vehicle Details</div>
                                                    <div class="qodef-detail-item">Top speed: 250 km/h</div>
                                                    <div class="qodef-detail-item">Fuel: Gasoline</div>
                                                    <div class="qodef-detail-item">Transmission: 8-speed automatic</div>
                                                    <div class="qodef-detail-item">Engine: 3.0 L Inline 6 TwinPower Turbo - 503 HP</div>
                                                    <div class="qodef-detail-item">Seating capacity: 4</div>
                                                    <div class="qodef-detail-item">Acceleration 0-100 km/h: 3.9 sec</div>
                                                    <div class="qodef-detail-item">Traction: Rear-wheel drive</div>
                                                    <div class="qodef-detail-item">Colour: Blue</div>
                                                    <div class="qodef-detail-item">Interior: Leather</div>
                                                </div>
                                                <div class="qodef-e-image-overlay"></div>
                                            </div>
                                        </div>
                                        <div class="qodef-e-content">
                                            <h5 class="qodef-e-title entry-title">
                                                <a class="qodef-e-title-link" href="{% url 'vehicle_detail' 'bmw-m4' %}">
                                                    BMW M4
                                                </a>
                                            </h5>
                                            <div class="qodef-reviews-list-info qodef-reviews-average-count">
                                                <span class="qodef-reviews-number">1</span>
                                                <span class="qodef-reviews-label">Review</span>
                                                <span class="qodef-stars">
                                                    <span class="qodef-stars-wrapper-inner">
                                                        <span class="qodef-stars-items">
                                                            {% for i in "12345" %}
                                                            <svg class="qodef-svg--star qodef-active" xmlns="http://www.w3.org/2000/svg" width="9.47px" height="9.02px" viewBox="0 0 9.47 9.02">
                                                                <g><path d="M6.48,5.55l1.08,3.3L4.74,6.81L1.93,8.84L3,5.55 L0.19,3.5h3.48l1.07-3.31L5.82,3.5H9.3L6.48,5.55z"></path></g>
                                                            </svg>
                                                            {% endfor %}
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Vehicle Item 5: Lamborghini Urus -->
                                <div class="qodef-e qodef-grid-item post-2305 vehicle">
                                    <div class="qodef-e-inner">
                                        <div class="qodef-e-image">
                                            <div class="qodef-e-media-image">
                                                <a href="{% url 'vehicle_detail' 'lamborghini-urus' %}" target="_self">
                                                    <img loading="lazy" decoding="async" width="800" height="1027" 
                                                         src="{% static 'images/vehicles/lamborghini-urus.jpg' %}" 
                                                         class="attachment-full size-full" alt="Lamborghini Urus">
                                                </a>
                                            </div>
                                            <div class="qodef-e-image-inner">
                                                <h4 class="qodef-e-type">
                                                    <a href="{% url 'vehicle_type' 'suv' %}" rel="tag">SUV</a>
                                                </h4>
                                                <div class="qodef-e-price-info">
                                                    <div class="qodef-e-price">
                                                        <span class="qodef-e-price-pre-label">from</span>
                                                        <span class="qodef-e-price-inner qodef-currency--before">
                                                            <span class="qodef-currency">€</span>
                                                            180
                                                        </span>
                                                        <span class="qodef-e-price-label">Per hour</span>
                                                    </div>
                                                </div>
                                                <div class="qodef-vehicle-details">
                                                    <div class="qodef-detail-title">Vehicle Details</div>
                                                    <div class="qodef-detail-item">Top speed: 305 km/h</div>
                                                    <div class="qodef-detail-item">Fuel: Petrol</div>
                                                    <div class="qodef-detail-item">Transmission: 8-speed automatic</div>
                                                    <div class="qodef-detail-item">Engine: 4.0 L V8 Twin-Turbo - 650 HP</div>
                                                    <div class="qodef-detail-item">Seating capacity: 5</div>
                                                    <div class="qodef-detail-item">Acceleration 0-100 km/h: 3.6 sec</div>
                                                    <div class="qodef-detail-item">Traction: All-wheel drive</div>
                                                    <div class="qodef-detail-item">Colour: Yellow</div>
                                                    <div class="qodef-detail-item">Interior: Leather/Alcantara</div>
                                                </div>
                                                <div class="qodef-e-image-overlay"></div>
                                            </div>
                                        </div>
                                        <div class="qodef-e-content">
                                            <h5 class="qodef-e-title entry-title">
                                                <a class="qodef-e-title-link" href="{% url 'vehicle_detail' 'lamborghini-urus' %}">
                                                    Lamborghini Urus
                                                </a>
                                            </h5>
                                            <div class="qodef-reviews-list-info qodef-reviews-average-count">
                                                <span class="qodef-reviews-number">1</span>
                                                <span class="qodef-reviews-label">Review</span>
                                                <span class="qodef-stars">
                                                    <span class="qodef-stars-wrapper-inner">
                                                        <span class="qodef-stars-items">
                                                            {% for i in "12345" %}
                                                            <svg class="qodef-svg--star qodef-active" xmlns="http://www.w3.org/2000/svg" width="9.47px" height="9.02px" viewBox="0 0 9.47 9.02">
                                                                <g><path d="M6.48,5.55l1.08,3.3L4.74,6.81L1.93,8.84L3,5.55 L0.19,3.5h3.48l1.07-3.31L5.82,3.5H9.3L6.48,5.55z"></path></g>
                                                            </svg>
                                                            {% endfor %}
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!-- Vehicle Item 6: Ferrari 296 GTB -->
                                <div class="qodef-e qodef-grid-item post-2307 vehicle">
                                    <div class="qodef-e-inner">
                                        <div class="qodef-e-image">
                                            <div class="qodef-e-media-image">
                                                <a href="{% url 'vehicle_detail' 'ferrari-296-gtb' %}" target="_self">
                                                    <img loading="lazy" decoding="async" width="800" height="1027" 
                                                         src="{% static 'images/vehicles/ferrari-296-gtb.jpg' %}" 
                                                         class="attachment-full size-full" alt="Ferrari 296 GTB">
                                                </a>
                                            </div>
                                            <div class="qodef-e-image-inner">
                                                <h4 class="qodef-e-type">
                                                    <a href="{% url 'vehicle_type' 'sport' %}" rel="tag">Sport</a>
                                                </h4>
                                                <div class="qodef-e-price-info">
                                                    <div class="qodef-e-price">
                                                        <span class="qodef-e-price-pre-label">from</span>
                                                        <span class="qodef-e-price-inner qodef-currency--before">
                                                            <span class="qodef-currency">€</span>
                                                            180
                                                        </span>
                                                        <span class="qodef-e-price-label">Per hour</span>
                                                    </div>
                                                </div>
                                                <div class="qodef-vehicle-details">
                                                    <div class="qodef-detail-title">Vehicle Details</div>
                                                    <div class="qodef-detail-item">Top speed: 330 km/h</div>
                                                    <div class="qodef-detail-item">Fuel: Hybrid (Petrol + Electric)</div>
                                                    <div class="qodef-detail-item">Transmission: 8-speed DCT</div>
                                                    <div class="qodef-detail-item">Engine: 3.0 L V6 Hybrid - 819 HP</div>
                                                    <div class="qodef-detail-item">Seating capacity: 2</div>
                                                    <div class="qodef-detail-item">Acceleration 0-100 km/h: 2.9 sec</div>
                                                    <div class="qodef-detail-item">Traction: Rear-wheel drive</div>
                                                    <div class="qodef-detail-item">Colour: Red</div>
                                                    <div class="qodef-detail-item">Interior: Leather/Carbon</div>
                                                </div>
                                                <div class="qodef-e-image-overlay"></div>
                                            </div>
                                        </div>
                                        <div class="qodef-e-content">
                                            <h5 class="qodef-e-title entry-title">
                                                <a class="qodef-e-title-link" href="{% url 'vehicle_detail' 'ferrari-296-gtb' %}">
                                                    Ferrari 296 GTB
                                                </a>
                                            </h5>
                                            <div class="qodef-reviews-list-info qodef-reviews-average-count">
                                                <span class="qodef-reviews-number">1</span>
                                                <span class="qodef-reviews-label">Review</span>
                                                <span class="qodef-stars">
                                                    <span class="qodef-stars-wrapper-inner">
                                                        <span class="qodef-stars-items">
                                                            {% for i in "12345" %}
                                                            <svg class="qodef-svg--star qodef-active" xmlns="http://www.w3.org/2000/svg" width="9.47px" height="9.02px" viewBox="0 0 9.47 9.02">
                                                                <g><path d="M6.48,5.55l1.08,3.3L4.74,6.81L1.93,8.84L3,5.55 L0.19,3.5h3.48l1.07-3.31L5.82,3.5H9.3L6.48,5.55z"></path></g>
                                                            </svg>
                                                            {% endfor %}
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>