{% load static %}

<section class="elementor-section elementor-top-section elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default" style="background-color: #0c1315;">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-widget elementor-widget-luxedrive_core_video_button">
                    <div class="elementor-widget-container">
                        <div class="qodef-shortcode qodef-m qodef-video-button qodef--has-img">
                            <!-- Video placeholder or button -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>