{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="{% block html_lang %}en{% endblock %}" data-x="html" data-x-toggle="html-overflow-hidden">
<head>
    {% include 'base/head_meta.html' %}
    {% include 'base/head_seo.html' %}
    {% include 'base/head_styles.html' %}
    {% include 'base/head_analytics.html' %}
    {% block extra_css %}{% endblock %}
</head>
<body class="home">
    <div id="qodef-page-wrapper">
        
        <!-- Desktop Header -->
        {% include 'includes/header.html' %}
        
        <!-- Mobile Header -->
        {% include 'includes/mobile_header.html' %}
        
        <!-- Page Content -->
        <div id="qodef-page-outer">
            <div id="qodef-page-inner" class="qodef-content-full-width">
                <main id="qodef-page-content" class="qodef-grid qodef-layout--template qodef-grid-template--12" role="main">
                    <div class="qodef-grid-inner">
                        <div class="qodef-grid-item qodef-page-content-section qodef-col--content">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </main>
            </div>
        </div>
        
        <!-- Footer -->
        {% include 'includes/footer.html' %}
        
        <!-- Side Area -->
        {% include 'includes/side_area.html' %}
        
        <!-- Search -->
        {% include 'includes/search.html' %}
        
        <!-- Back to Top -->
        {% include 'includes/back_to_top.html' %}
        
    </div>
    
    <!-- JavaScript Files -->
    {% include 'base/scripts.html' %}
    
    {% block extra_js %}{% endblock %}
</body>
</html>